* {
    box-sizing: border-box;
}
body {
    height: 100vh;
}

.hide {
    display:none;
}

#start-screen {
    border: 1px rgba(0,0,0, 0.3);
}

h1 {
    text-align: center;
    color: blue;
    margin-top: 20px;
    font-size: 55px;
}

h5 {

    text-align: center;
    color: blue;
    padding:35px;

}


h6 {
    text-align: center;
    color: blue;
    }






#question-title {
    text-align: center;
    padding-top: 25px;
}

#choices {
    padding-left: 145px;
}
p {
    padding: 55px;;
}



.container {
    display:flex;
    text-align:  center;
    margin-left:200px;
    margin-right:200px;
    justify-content: center;
}


button {
    color: red;
    box-sizing: border-box;
    background-color: blanchedalmond;
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;    
    border-radius: 12px;
    font-size: 36px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    padding: 35px;
   
}